@model ExamScoreSystem.Models.Exam

@{
    ViewBag.Title = "Add Exam"; 
}
<!--Пока не доделал-->
<h3>Форма добавления экзамена</h3>
<form method="post" action="">
    <table class="table">
        @Html.ValidationSummary(true)
        <tr><th></th></tr> 
        <tr>
            <td><p>Студент</p></td>
            <td>
                @Html.DropDownList("StudentId", "")
                @Html.ValidationMessageFor(model => model.Student.FullName, "Selection required")
            </td>
        </tr>
        <tr>
            <td><p>Оценка</p></td>
            <td>
                @Html.EditorFor(e => e.Mark)
                @Html.ValidationMessageFor(model => model.Mark, "Input required")
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Сохранить" /></td>
        </tr>
    </table>
</form>