@model ExamScoreSystem.Models.Course

@{
    ViewBag.Title = "CourseDetails";
}

<h2>@Model.CourseName</h2>

@using (Html.BeginForm()) 
{
<div>
    <table class="table-bordered">
        <tr>
            <th>ФИО студента</th>
            <th>Оценка</th>
        </tr>
        @foreach (var exam in Model.Exams)
        {
            <tr>
                <td>
                    @exam.Student.ToString()
                    @Html.HiddenFor(Model => exam.StudentId) <!--test-->
                    @Html.HiddenFor(Model => exam.CourseId) <!--test-->
                </td>
                <td>
                    @Html.EditorFor(Model => exam.Mark);
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Courses") |
    @Html.ActionLink("Save", "EditExam", new { id = Model.CourseId }) |
    <input type="submit" value="Save"/>
</p>
}